<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <title>About</title>
    {{>header}}
    <img class="portrait" src="./img/bot.jpg">
     {{>footer}}
</html>